* {

    box-sizing: border-box;
    
    
    }
    
    body {
    
    background: #041E42; 
    display: flex;
     justify-content: center;
      align-items: center; 
      flex-direction: column;
       font-family: 'Montserrat';
        height: 100vh;
         margin: -20px 0 50px;
    
    }
    
    h1 {
    
    font-weight: bold; margin: 0;
    
    }
    
    h2 {
    
    text-align: center;
    
    }
    
    p {
    
    font-size: 14px; font-weight: 100; line-height: 20px; letter-spacing: 0.5px; margin: 20px 0 30px;
    
    }

    span { font-size: 12px; }

a { color: #333; font-size: 14px; text-decoration: none; margin: 15px 0;

}

button {

border-radius: 20px;
 border: 1px solid #ff802b;
  background-color: #002244; 
  color: #FFFFFF; 
  font-size: 12px; 
  font-weight: bold;
   padding: 12px 45px; 
   letter-spacing: 1px;
    text-transform: uppercase; 
    transition: transform 80ms ease-in;

}

button:hover{
    background-color:#004687;
    transition: 2s;
}




    
    form {
    
    background-color: #0E3386;
    border-radius: 10px;
    
    display: flex;
    
    align-items: center;
    
    justify-content: center;
    width: 600px;
    
    
    flex-direction: column; padding: 0 50px; height: 90%; text-align: center;
    
    }
    
    input {
    
    background-color: #5071a76b; border: none; padding: 12px 15px; margin: 8px 0; width: 100%;
    
    }


        
        .form-container {
        
        position: absolute;
        display: flex;
        justify-content: center;
        
        top: 30px;
        left: 490px;
        
        height: 100%;
        
        }
        textarea{
            background-color: #5071a76b; 
            border: none; 
            padding: 12px 15px; 
            margin: 8px 0; 
            width: 100%;
    
        }

    
        