.ticket-details-container {
    background-color: rgb(246, 246, 226);
    max-width: 600px;
    margin: 0 auto;
    padding: 60px;
    margin: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .delete-button {
    background-color: #c70f02;
    color: white;
    border-color: rgb(65, 0, 0);
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .notes-container {
    margin-top: 20px;
  }
  
  .add-note-container {
    margin-top: 20px;
  }
  
  .add-note-button {
    background-color: #00a205;
    color: white;
    border-color: rgb(5, 26, 0);
    border-radius: 3px;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .fonts{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  ul{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: square;
  }
  .go-back-button{
    padding: 10px;
    background-color: rgb(98, 192, 255);
    border-radius: 3px;
    color: white;
  }
  .feedbacks-heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }